#!/bin/bash

sudo rm -rf ./src/*
rm -rf ./apps


# Custom scripts
mkdir ./src/scripts
sudo cp -r /usr/local/bin ./src/scripts
sudo cp -r /usr/local/lib ./src/scripts


# Apps
mkdir ./apps
pacman -Qe > ./apps/pacman.versions
pacman -Qm > ./apps/yay.versions
snap list > ./apps/snap.versions


# Configs
cp -r $HOME/.config/dunst ./src/                   # dunst
cp -r $HOME/.config/i3 ./src/                      # i3
cp -r $HOME/.config/rofi ./src/                    # rofi
cp -r $HOME/.config/termite ./src                  # termite
cp -r $HOME/github/software/tmux ./src             # tmux
sudo cp -r /etc/X11/xorg.conf.d ./src              # xorg.conf.d
cp $HOME/.vimrc ./src/vimrc                        # vimrc
cp $HOME/.xinitrc ./src/xinitrc                    # xinitrc
cp $HOME/.zshrc ./src/zshrc                        # zshrc
cp $HOME/.tmux.conf ./src/tmux.conf                # tmux.conf
cp $HOME/.tmux.conf.local ./src/tmux.conf.local    # tmux.conf.local


# zsh
cp -r $HOME/.config/zsh ./src
cp -r $HOME/.oh-my-zsh/custom/themes ./src/zsh
