#!/bin/bash

sudo rm -rf ./src/*
rm -rf ./apps

# Custom scripts
mkdir ./src/scripts
sudo cp -r /usr/local/bin ./src/scripts1
sudo cp -r /usr/local/lib ./src/scripts1

# Apps
mkdir ./apps
pacman -Qe > ./apps/pacman.versions
pacman -Qm > ./apps/yay.versions
snap list > ./apps/snap.versions


# Configs
cp -r /home/egor/.config/dunst ./src/                   # dunst
cp -r /home/egor/.config/i3 ./src/                      # i3
cp -r /home/egor/.config/rofi ./src/                    # rofi
cp -r /home/egor/.config/termite ./src                  # termite
cp -r /home/egor/github/software/tmux ./src             # tmux
sudo cp -r /etc/X11/xorg.conf.d ./src                   # xorg.conf.d
cp /home/egor/.vimrc ./src/vimrc                        # vimrc
cp /home/egor/.xinitrc ./src/xinitrc                    # xinitrc
cp /home/egor/.zshrc ./src/zshrc                        # zshrc
cp /home/egor/.tmux.conf ./src/tmux.conf                # tmux.conf
cp /home/egor/.tmux.conf.local ./src/tmux.conf.local    # tmux.conf.local



# zsh
cp -r /home/egor/.config/zsh ./src
cp -r /home/egor/.oh-my-zsh/custom/themes ./src/zsh
